.skill-container {
    width: 100%;
    /* padding: 1rem; */
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
    width: 100%;
}

.card-container>div {
    width: 100%;
    /* place-self: center; */
}

.card-title {
    font-size: var(--subtitle-font-size);
    font-weight: var(--font-bold);
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.element {
    padding: 1rem;
    place-items: center;
    text-align: center;
}

.icon>img {
    width: 50px;
    filter: drop-shadow(5px 5px 5px #b0b0b0);
}

.name {
    padding: 0.5rem;
    filter: drop-shadow(5px 5px 5px #b0b0b0);
    white-space: nowrap;
}

/* Media query for responsive */
@media screen and (max-width: 992px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .name {
        white-space: wrap;
    }

    .card-container {

        gap: 0.5rem;
    }

    .card {
        gap: 0;

    }

    .icon>img {
        width: 30px;
    }
}

@media screen and (max-width: 350px) {}