.e-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 0 1rem;

    text-align: justify;
}

.exp-container {
    place-items: center;
}

.exp-container div {
    padding: 0.5rem 1rem;
}

.e-title {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    /* border: 2px solid black; */
    gap: 1rem;
    width: max-content;
}

.e-title>span {

    border-radius: 50%;
    background-color: transparent;
    box-shadow: 4px 4px 16px 0px rgba(147, 147, 147, 0.778);
}

.e-title img {
    /* border: 2px solid black; */
    width: 100px;
    height: 100px;
    display: block;
    padding: 1rem;

    /* background: var(); */

}

.exp-company {
    /* border: 2px solid black; */
    font-weight: var(--font-bold);
    font-size: var(--title-font-size);
    padding: 0 1rem;
}

.exp-job {
    font-size: var(--subtitle-font-size);
    font-weight: var(--font-medium);
}

.exp-from {
    font-style: italic;
}

.exp-jd {
    text-align: left;
}

.exp-jd>li {
    padding: 0.5rem;
    font-size: var(--small-font-size);
}

/* Media query for responsive */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 350px) {}