.q-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 0 1rem;
    text-align: center;
}

.edu-container {
    place-items: center;
}

.edu-container div {
    padding: 0.5rem 1rem;
}

.q-title {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    width: fit-content;
}

.q-title>span {
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 4px 4px 16px 0px rgba(147, 147, 147, 0.778);
}

.q-title img {
    width: 200px;
    height: 100px;
    display: block;
    padding: 1rem;
}

.edu-college {
    font-weight: var(--font-bold);
    font-size: var(--title-font-size);
    padding: 0 1rem;
    white-space: wrap;
}

.edu-degree {
    font-size: var(--subtitle-font-size);
    font-weight: var(--font-medium);
}

.edu-year {
    font-style: italic;
}


/* Media query for responsive */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .q-title img {
        width: 100px;
        height: 70px;

    }
}

@media screen and (max-width: 350px) {}