.download-btm {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

}
.download-container{
    /* margin-top: 2rem; */
    padding: 1rem;
}
/* .content-container>div {
    border: 2px solid red;
} */

.content-container {
    /* padding: 1rem 2rem; */
    margin: 1rem;

}



.description {
    font-style: italic;
    text-align: left;
    font-size: var(--normal-font-size);
    padding-left: 4rem;
    /* margin-left: 4rem; */
    margin-top: 1rem;
    margin-bottom: 2rem;

}