.content-container {
    opacity: 0;
    animation: right-to-left 1.5s 6s linear forwards;
}

.download-btm {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    opacity: 0;
    animation: roll-right 1.5s linear 10s 1 forwards;
}

.download-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.bold {
    font-weight: var(--font-bold);
}

.content-container p {
    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.478);
}


.description {
    font-style: italic;
    text-align: right;
    font-size: var(--normal-font-size);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 550px) {
    .description {
        text-align: justify;
    }
}