.social-container {
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: 2rem;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  filter: drop-shadow(5px 5px 5px #b0b0b0);
  animation: left-to-right 1.5s linear 3s 1 alternate forwards;
}

.social-container>a:hover {
  scale: 1.1;
}

.social-container>a {
  background-color: var(--container-color);
  padding: 0.8rem 1rem;
  text-align: center;
  aspect-ratio: 1;
  /* border-radius: 5px; */
  border-radius: 50%;

}

/* Media query for responsive */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .social-container {
    justify-content: center;
    margin: 1rem;
  }

  .social-container>a {
    padding: 0.7rem;
  }
}