.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: from-top 1s linear;
    z-index: 100;
}

.nav {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 2rem;
    
    /* background: rgba(255, 255, 255, 0.24); */
    background: transparent;
    box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 1rem 2rem;
    padding: 0.5rem;
    position: relative;
    z-index: 100;
    
}

.nav-menu {
    display: flex;
    column-gap: 2rem;
}

.nav-title {
    font-size: var(--subtitle-font-size);
    transition: all 0.3s;
    font-weight: var(--font-bold);
    font-family: cursive;
    rotate: -5deg;
    position: relative;
    /* left: 10%; */
    /* border: 1px solid black; */
    animation: move-title 5s linear 1s infinite;
}

.nav-menu>ul {
    display: flex;
    column-gap: 3rem;
}

.menu>a {
    color: var(--text-color);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.menu {
    font-size: var(--small-font-size);
    transition: all 0.3s;
    padding: 0.5rem;

}

.menu:hover {
    transform: scale(1.2);
}

.menu-icon {
    display: none;
}


/* Media query for responsive */
@media screen and (max-width: 992px) {
    .menu-title {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .header {
        top: initial;
        bottom: 0;
    }

    .menu-icon {
        display: block;
        transition: all 0.4s;
    }

    .nav-title {
        display: none;
    }

    .menu-title {
        display: block;
    }

    .nav-menu>ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

    }

    /* For menu toggle  */
    .hidden {
        display: none;
    }

    .show {
        display: block;

    }
}

@media screen and (max-width: 550px) {}