.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    /* animation-name: shutter-in-bottom;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none; */
}

.contact-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    font-weight: var(--font-medium);
    gap: 0.5rem;
    transition: all 0.6s;
    background-color: transparent;
    
    border: 1px solid grey;
}

.contact-box:hover {
    background-color: white;
    /* animation from bottom to top bg color */
    
}




/* Media query for responsive */
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 350px) {}